/* Styles pour le conteneur global */
main {
  display: flex;
  flex-direction: column;
  padding: 10vh;
}
#description {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 1vh;
}
#link {
  color: black;
  margin: 4vh;
}
#tableau {
  color: black;
}
.content-wrapper {
  display: flex;
  align-items: flex-start; /* Aligne les éléments en haut */
  gap: 20px; /* Espacement entre les tableaux et l'image */
  margin-top: 20px; /* Espacement au-dessus */
  justify-content: center; /* Centre le contenu dans le conteneur */
}

.tables-wrapper {
  display: flex;
  flex-direction: row; /* Aligne les tableaux et l'image en ligne */
  gap: 10px; /* Espacement entre les tableaux et l'image */
  width: 100%; /* Utilise toute la largeur disponible */
}

.tables-wrapper table {
  flex: 1; /* Permet aux tableaux de s'étendre pour occuper un espace égal */
  background-color: white;
  border-collapse: collapse;
}

.tables-wrapper img {
  max-width: 200px; /* Limite la largeur de l'image pour qu'elle ne prenne pas trop de place */
  object-fit: cover; /* Ajuste l'image sans déformation */
  align-self: center; /* Centre verticalement l'image */
}

caption {
  background: linear-gradient(to bottom, #ffffff, #e2827e);
  color: black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center; /* Centre le texte dans les cellules */
}

/* Ajout de styles globaux existants */
.carre-contenu {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.carre-contenu p {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}

.cta_propos {
  display: inline-block;
  border-radius: 50px;
  background: linear-gradient(to bottom, #ffffff, #e2827e);
  color: black;
  padding: 20px 30px;
}

.lien-amana {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 0, 0);
  font-style: oblique;

  text-decoration: underline;
}

h1 {
  margin-top: -25px;
}

p {
  margin-top: -15px;
}

table {
  border: 10px solid white;
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    display: none;
  }

  #always {
    display: none;
  }
}

.lien {
  font-size: 2vh;
}

.copyright {
  font-size: 2vh;
}
@import url("./shared.css");
