* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  color: white;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: inherit;
  }
  ul {
    list-style: none;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    padding: 2vh;
    background-image: url("images/one_flower.webp");
    background-size: cover;
    background-position: center;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    margin: 1vw;
    gap: 1vw;
  }
}
main {
  height: 80%;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/flowers.jpg");
  filter: blur(50%);
  background-size: cover;
  background-position: center;
  img {
    border-radius: 50%;
    opacity: 80%;
    margin: 1vw;
  }
  p {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
ul {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    background-size: contain;
  }
}
