* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  color: white;

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: inherit;
  }
  ul {
    list-style: none;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-image: url("images/header_bg2.png");
    background-size: cover;
    background-position: center;
    img {
      margin: 1vw;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      margin: 1vw;
      gap: 1vw;
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: brown;
    img {
      margin: 1vw;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      margin: 1vw;
      gap: 1vw;
    }
  }
  @media screen and (max-width: 576px) {
    header {
      display: flex;
      flex-direction: column;
    }
    main {
      height: 80%;
    }
    footer {
      height: 10%;
    }
  }
}
